body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 80%;
    margin: auto;
}
h1 {
    text-align: center;
}
input {
    padding: 10px;
    border : 1px solid #000;
    border-radius: 5px;
    color: #000;
    margin-right: 5%;
}


button {
    background:#131e5e;
    color:#fff;
    font-size: 10x;
    padding : 10px 15px;
    border:none;
    font-size: 15px;
    border-radius: 5px;;
 }

 button:hover {
     cursor: pointer;
     background:darkred;
 }